body{
    background-image: url(../branding/background.png);
    color: whitesmoke;
    font-family:Calibri;
}
table{
    margin: 0 auto 0 auto;
}
.member{
    border: solid 5px #338efa;
    border-radius: 16px;
    font-size: 30px;
    text-align: center;
    width: 450px;
    vertical-align:sub;
}
.fo{
    border-spacing: 15px;
}
.hiv{
    color: #338efa;
}
h5{
    font-size: 150%;
    color: #338efa;
}
.focim{
    text-align: center;
    font-size: 5em;
}
.kategoria{
    text-align: center;
}
table, td{
    border-spacing: 15px;
}
td.news{
    border: #338efa 5px solid;
    border-radius: 16px;
    vertical-align: top;
}
td.member:hover{
    background-color: #338cfa15;
}
td.member_nohover{
    border: solid 5px #338efa;
    border-radius: 16px;
    font-size: 30px;
    text-align: center;
    width: 450px;
    vertical-align:sub;
}
table.lab{
    width: 100%;
    background-color: #1c1f26;
    border-radius: 0px;
    border-spacing: 0px;
    padding: 0px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    border-top: #338efa solid 5px;
}
td.lab{
    border: 0;
    vertical-align: top;
}
ul, li{
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin: 0px;
    list-style-type: none;
}